html, body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

#front, #back {
  height: 100%;
  width: 100%;
}

.diagram {
  display: none;
}

.embedEditor {
  height: 100%;
  width: 100%;
  border: none;
} 

.no-dizmo-drag {
  -webkit-dashboard-region: dashboard-region(control rectangle);
  --dizmo-no-drag: true;
}
